.card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   padding: 4px;
}

h2 {
   color: cornflowerblue;
   text-align: center;
}

h4 {
   color: darkslategray;
}

h5 {
   color: cornflowerblue;
}

.gambar {
   max-width: 500px;
}

.profile header {
   text-align: center;
}

.profile img {
   width: 200px;
}

a:hover {
   font-weight: bold;
}

.img-style {
   cursor: default;
   margin-top: 8px;
}
